.wrapper
 .package
  .name Limited
  .price €2
  .trial Available for a month
  %hr
  %ul
   %li
    %strong 8
    team members
   %li
    %strong 6
    team playlists
   %li
    %strong Unlimited
    public playlists
 .package.brilliant
  .name Brilliant
  .price €5
  .trial Free 30 day trial
  %hr
  %ul
   %li
    %strong Unlimited
    team members
   %li
    %strong Unlimited
    team playlists
   %li
    %strong Unlimited
    public playlists
   %li
    Team analytics
   %li
    Send files
 .package
  .name Basic
  .price €0
  .trial Totally free
  %hr
  %ul
   %li
    %strong 5
    team members
   %li
    %strong 3
    team playlists
   %li
    %strong Unlimited
    public playlists